@import url("https://fonts.googleapis.com/css?family=Krub:400,700");
*{
	margin: 0;
  box-sizing: border-box;
}

svg{
  width:25px;
  fill:coral;
  height:25px;
}

html{
  background-color: #322f2f;
}
li.hum{
  list-style-type:circle;
}
.logoa img{
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

#header {
  display: flex;
  background-color:#1a1919;
  height:100px;
  width:100%;
  position: fixed;
  z-index: 9999;
}

.nav{
  justify-content: center;
  margin-left: 975px;
  display: flex;
  flex-direction: column;
}

.menu{
  display:flex;
  
  list-style-type: none;
  color:coral;
  margin-top: 0px;
  position: static;  
}

#about{
  font-size: 18px;
}
#conta{
  padding-left: 23px;
  font-size: 18px; 
}

#Ter{
  padding-left: 23px;
  font-size: 18px;
}

#log{
  margin-top:20px;
  margin-left:140px;
}

#log a{
  
  margin-right: 40px;
  color: coral;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: black;
	border: 1px solid coral;
  border-radius: 15px;
  text-decoration: none;
}

#log a:hover{
  background-color: coral;
  color: black;
}

.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
position:fixed;
top:100px;
bottom:0;
height:100%;
left:0ch;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
margin-top: 6px;
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav.main-menu{
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#000000;
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
  padding-top: 20cm;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
}

.content4{
	display:flex;
}

.isi5{
	margin-top: 150px;
	margin-left: 110px;
  display:flex;
}
 table {
  width: 100px;
  border-collapse: collapse;
  background-color: #f2f2f2;
}

th, td {
  border: 1px solid #b9b9b9;
  text-align: center;
  padding: 8px;
}

th {
  background-color: coral;
  border: 1px solid #f2f2f2;
}

td:hover {
  background-color: #c7c7c7;
  cursor: pointer;
}

.calendar-day {
  font-size: 14px;
}

.selected-day {
  background-color: coral;
  color: #fff;
}
body {
  background-color: #444;
}
.controls {
	width: 45px;
	height: 45px;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	background-color: rgba(0,0,0,.2);
}
.left {
	/* margin-left: 90px; */
  float: left;
}
.left1 {
	/* margin-left: 90px; */
  float: left;
}
.left2 {
	/* margin-left: 90px; */
  float: left;
}
.right {
	float: right;
  margin-left: 1340px;
}
.right1 {
	float: right;
  margin-left: 1340px;
}
.right2 {
	float: right;
  margin-left: 1340px;
}
.carrousel {
	width: 1400px;
	height: 250px;
  /* margin-top: 20px; */
  margin-left: 90px;
	overflow:hidden;
}
.carrousel1 {
	width: 1400px;
	height: 250px;
  /* margin-top: 20px; */
  margin-left: 90px;
	overflow:hidden;
}
.carrousel2 {
	width: 1400px;
	height: 250px;
  /* margin-top: 20px; */
  margin-left: 90px;
	overflow:hidden;
}

.controls:hover {
	background-color: rgba(0,0,0,.5);
}
.item {
	width: 335px;
	height: 200px;
	float: left;
	margin-left: 15px;
	margin-top: 30px;
	background-color: #202225;
	color: #fff;
	font-size: 40px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
  transition: 1s all;
}
.item2 {
	width: 250px;
	height: 200px;
	float: left;
	margin-left: 15px;
	margin-top: 30px;
	background-color: #202225;
	color: #fff;
	font-size: 40px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
  transition: 1s all;
}
.item3 {
	width: 250px;
	height: 200px;
	float: left;
	margin-left: 15px;
	margin-top: 30px;
	background-color: #202225;
	color: #fff;
	font-size: 40px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
  transition: 1s all;
}
.item4 {
	width: 250px;
	height: 200px;
	float: left;
	margin-left: 15px;
	margin-top: 30px;
	background-color: #202225;
	color: #fff;
	font-size: 40px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
  transition: 1s all;
}

.cont {
	position: absolute;
  margin-top: 200px
}
.cont1 {
	position: absolute;
  margin-top: 200px;
}
.cont2 {
	position: absolute;
  margin-top: 200px;
}

.tapa {
  width: 12000px;
	transition: .9s all;
}
.tapa1 {
  width: 12000px;
	transition: .9s all;
}
.tapa2 {
  width: 12000px;
	transition: .9s all;
}

.item:hover {
  transform:scale(1.15);
}
.item2:hover {
  transform:scale(1.15);
}
.item3:hover {
  transform:scale(1.15);
}
.item4:hover {
  transform:scale(1.15);
}
  
.rec{
  font-size: 20px;
  margin-left: 100px;
  margin-top: 25px;
  color: white;
}

#profile-image {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
}
#upload-btn {
  display: none;
}
#profile-image2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}
#upload-btn2 {
  display: none;
}

.propl{
  font-size: 10px;
  color: #fff;
  margin-left:100px;
}

.item img{
  width: 335px;
	height: 200px;
  border-radius: 5px;
}
.item2 img{
  width: 250px;
	height: 200px;
  border-radius: 5px;
}
.item3 img{
  width: 250px;
	height: 200px;
  border-radius: 5px;
}
.item4 img{
  width: 250px;
	height: 200px;
  border-radius: 5px;
}

.item {
  position: relative;
}
.item2 {
  position: relative;
}
.item3 {
  position: relative;
}
.item4 {
  position: relative;
}

.item .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.item2 .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.item3 .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.item4 .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.item:hover .caption {
  opacity: 1;
}
.item2:hover .caption {
  opacity: 1;
}
.item3:hover .caption {
  opacity: 1;
}
.item4:hover .caption {
  opacity: 1;
}

.anatomy{
  padding-top: 15ch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anatomy img {
	width: 600px; 
	height: auto; 
}

.anatomy svg {
  vertical-align: middle; 
  overflow: visible;
}

.shoulder {
  position: absolute;
  top: 28ch;
  left: 120ch;
}

.shoulder text {
  fill: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-anchor: middle;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: center;
  text-shadow: -1px -1px 0 black,  
                1px -1px 0 black,
               -1px 1px 0 black,
                1px 1px 0 black; 
}

.shoulder:hover text {
  opacity: 1;
 }

.shoulder:hover text {
  transform: scale(7);
 }

.biceps {
  position: absolute;
  top: 36ch;
  left: 120.5ch;
}

.biceps text {
  fill: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-anchor: middle;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: center;
  text-shadow: -1px -1px 0 black,  
                1px -1px 0 black,
               -1px 1px 0 black,
                1px 1px 0 black; 
}

.biceps:hover text {
  opacity: 1;
 }

.biceps:hover text {
  transform: scale(7);
 }


.abs {
  position: absolute;
  top: 40ch;
  left: 114ch;
}

.abs text {
  fill: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-anchor: middle;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: center;
  text-shadow: -1px -1px 0 black,  
                1px -1px 0 black,
               -1px 1px 0 black,
                1px 1px 0 black; 
}

.abs:hover text {
  opacity: 1;
 }

.abs:hover text {
  transform: scale(7);
 }

.chest {
  position: absolute;
  top: 32ch;
  left: 109ch;
}

.chest text {
  fill: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-anchor: middle;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: center;
  text-shadow: -1px -1px 0 black,  
                1px -1px 0 black,
               -1px 1px 0 black,
                1px 1px 0 black; 
}

.chest:hover text {
  opacity: 1;
 }

.chest:hover text {
  transform: scale(7);
 }

.fore {
  position: absolute;
  top: 42ch;
  left: 101ch;
}

.fore text {
  fill: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-anchor: middle;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: center;
  text-shadow: -1px -1px 0 black,  
                1px -1px 0 black,
               -1px 1px 0 black,
                1px 1px 0 black; 
}

.fore:hover text {
  opacity: 1;
 }

.fore:hover text {
  transform: scale(7);
 }

.quads {
  position: absolute;
  top: 58ch;
  left: 108ch;
}

.quads text {
  fill: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-anchor: middle;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: center;
  text-shadow: -1px -1px 0 black,  
                1px -1px 0 black,
               -1px 1px 0 black,
                1px 1px 0 black; 
}

.quads:hover text {
  opacity: 1;
 }

.quads:hover text {
  transform: scale(7);
  color: coral;
 }

.lats {
  position: absolute;
  top: 38ch;
  left: 82ch;
}

.lats text {
  fill: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-anchor: middle;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: center;
  text-shadow: -1px -1px 0 black,  
                1px -1px 0 black,
               -1px 1px 0 black,
                1px 1px 0 black; 
}

.lats:hover text {
  opacity: 1;
 }

.lats:hover text {
  transform: scale(7);
 }

.traps {
  position: absolute;
  top: 27ch;
  left: 81ch;
}

.traps text {
  fill: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-anchor: middle;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: center;
  text-shadow: -1px -1px 0 black,  
                1px -1px 0 black,
               -1px 1px 0 black,
                1px 1px 0 black; 
}

.traps:hover text {
  opacity: 1;
 }

.traps:hover text {
  transform: scale(7);
 }

.tri {
  position: absolute;
  top: 35ch;
  left: 69ch;
}

.tri text {
  fill: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-anchor: middle;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: center;
  text-shadow: -1px -1px 0 black,  
                1px -1px 0 black,
               -1px 1px 0 black,
                1px 1px 0 black; 
}

.tri:hover text {
  opacity: 1;
 }

.tri:hover text {
  transform: scale(7);
 }

.glute {
  position: absolute;
  top: 51ch;
  left: 81ch;
}

.glute text {
  fill: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-anchor: middle;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: center;
  text-shadow: -1px -1px 0 black,  
                1px -1px 0 black,
               -1px 1px 0 black,
                1px 1px 0 black; 
}

.glute:hover text {
  opacity: 1;
 }

.glute:hover text {
  transform: scale(7);
 }

.ham {
  position: absolute;
  top: 60ch;
  left: 75ch;
}

.ham text {
  fill: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-anchor: middle;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: center;
  text-shadow: -1px -1px 0 black,  
                1px -1px 0 black,
               -1px 1px 0 black,
                1px 1px 0 black; 
}

.ham:hover text {
  opacity: 1;
 }

.ham:hover text {
  transform: scale(7);
 }

.calf {
  position: absolute;
  top: 71ch;
  left: 82.5ch;
}

.calf text {
  fill: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-anchor: middle;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: center;
  text-shadow: -1px -1px 0 black,  
                1px -1px 0 black,
               -1px 1px 0 black,
                1px 1px 0 black; 
}

.calf:hover text {
  opacity: 1;
 }

.calf:hover text {
  transform: scale(7);
 }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  text-align: center;
  align-items: center;
}

.video-container {
  position: absolute;
  top: 50%;
  left: 41%;
  transform: translate(-50%, -50%);
  color: white;
  width: 1000ch;
}

.close-btn {
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  height: auto;
  width: auto;
}

.videos {
  display: flex;
  flex-direction: row;
  width: 100ch;
}

.video-container {
  width: 33.33%;
}

.video-container video {
  width: 100%;
  padding-top: 30px;
}

.video-item {
  margin-right: 50px;
  color: white
}

.video-overlay .text {
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
}

.video-overlay{
  position: relative;
}

.clock {
  position: absolute;
  top: 220px;
  left: 800px;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 40px;
  font-family: Orbitron;
  letter-spacing: 7px;
  border: 2px solid #1a1919;
  text-shadow: 2px 2px 4px #1a1919;
  border-radius: 5px;
  padding-left: 10px;
  z-index: 0;
}

h1,
h2,
h3,
h4,
h5 {
	color: #ffffff;
	color: #ffffff;
	color: #ffffff;
}

.nutrition{
  display: inline-block; 
  border-radius: 10px;
  padding: 10px; 
  background-color: coral;
  margin-top: 10px;
  margin-bottom: 10px
}

.recipe {
	display: grid;
	grid-template-columns: 40% 60%;
	gap: 0px;
	overflow: hidden;
	height: 100vh;
	min-height: 100vh;
  color: white;
  font: 400 1rem/1.6 -apple-system, Arial, "Helvetica", sans-serif;;
}

.recipe > nav {
	grid-column: 2;
}

.recipe > figure {
	grid-column: 1;
	grid-row: 1 / 5;
	margin: 0;
	overflow: hidden;
	position: relative;
}

figure figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	background: rgb(245, 245, 245);
	opacity: 0.8;
	padding: 1px 5px;
	z-index: 99;
	font-size: 14px;
	color: #333;
}

img {
	max-width: 100%;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.content {
	overflow-y: scroll;
	overflow-y: -moz-scrollbars-vertical;
	padding: 1rem 1.5rem 1rem 1.5rem;
	margin-top: 80px;
	grid-column: 2;
	grid-row: 1/ 2;
}

.content h1 {
	font-size: 2rem;
	text-transform: uppercase;
	margin: 1rem 0 0 0;
	/* 	background: #6b6d54; */
	color: #ffffff;
}

.rating {
	display: flex;
	align-items: center;
	list-style: none;
	padding-left: 0;
	margin-bottom: 1.5rem;
}

.rating li:last-child {
	margin-left: 0.75rem;
	font-size: 15px;
}

.star {
	width: 23px;
	height: 23px;
	margin: 0;
	padding: 0;
}

/* Style the Scrollbar */
::-webkit-scrollbar {
	width: 13px;
	height: 13px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 0;
	background: #d2d2d2;
	background: #e6e6e6;
	background: #ffffff;
}

::-webkit-scrollbar-thumb {
	border-radius: 0;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	background: #696469;
	background: #736e73;
	background: #827d82;
	background: #9b969b;
}

::-webkit-scrollbar-thumb:hover {
	background: #696469;
	background: #736e73;
	background: #827d82;
}

@media screen and (max-width: 500px) {
	body {
		/* 		overflow: scroll; */
		/* 		min-height: 100%; */
		min-height: 100vh;
		overflow: auto;
	}
	.recipe {
		/* height: 100%;
		min-height: 100%; */
    margin-top: 100px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}
	.recipe > figure {
		grid-column: 1 / 3;
		grid-row: 1;
		height: 40vh;
	}
	.recipe > .content {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
		overflow: hidden;
	}

	.recipe footer {
		grid-column: 1 / 3;
		/* 		grid-column: 1 / 3;
		grid-row: 3 / 4; */
	}

	figure figcaption {
		position: absolute;
		left: 0;
		bottom: 0;
		max-width: 50ch;
		display: block;
	}
}

.motivational{
  margin-top: 130px;
  margin-left: 85px;
  text-align:center;
  width: 600px;
}
.title{
  color:coral;
  font-size:2em;
  text-shadow: 2px 2px 4px #1a1919;
}

@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,900&display=swap');

/* body, html {
	height: 100%;
	width: 100%;
	overflow: hidden;
} */

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  margin-top:150px;
	
	z-index: 10;
	font-family: 'Red Hat Display', sans-serif;
}

.top3 {
	display: flex;
  margin-top:200px;
	justify-content: center;
	align-items: flex-end;
	color: #9f3232;
	
	.item5 {
		box-sizing: border-box;
		position: relative;
		background: #fef8f6;
		width: 9rem;
		height: 10rem;
		text-align: center;
		padding: 2.8rem 0 0 ;
		margin: 1rem 1rem 2rem;
		border-radius: 0.5rem;
		transform-origin: bottom;
		cursor: pointer;
		transition: transform 200ms ease-in-out;
		box-shadow:
			0 0 4rem 0 rgba(black, 0.1),
			0 1rem 2rem -1rem rgba(black, 0.3);
		
		.pic {
			position: absolute;
			top: -2rem;
			left: 2.5rem;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			background-size: cover;
			background-position: center;
			margin-right: 1rem;
			box-shadow:
				0 0 1rem 0 rgba(black, 0.2),
				0 1rem 1rem -0.5rem rgba(black, 0.3);
		}
		
		.pos {
			font-weight: 900;
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
		}
		
		.name {
			font-size: 1.1rem;
			margin-bottom: 100px;
		}
		
		.score {
      margin-top: -95px;
			&:after {
				display: block;
				content: 'points';
			}
		}
		
		&.one {
			width: 10rem;
			height: 11rem;
			padding-top: 3.5rem;
			
			.pic {
				width: 5rem;
				height: 5rem;
				left: 2.5rem;
			}
		}
		
		&:hover {
			transform: scale(1.05);
		}
	}
}

.list {
	padding-left: 2rem;
	margin: 0 auto;
	// width: fit-content;
	
	.item5 {
		position: relative;
		display: flex;
		align-items: center;
		background: white;
		height: 3rem;
		// width: fit-content;
		border-radius: 4rem;
		margin-bottom: 2rem;
		background: #ffe4db;
		transform-origin: left;
		cursor: pointer;
		transition: transform 200ms ease-in-out;
		box-shadow:
			0 0 4rem 0 rgba(black, 0.1),
			0 1rem 2rem -1rem rgba(black, 0.3);
		
		.pos {
			font-weight: 900;
			position: absolute;
			left: -2rem;
			text-align: center;
			font-size: 1.25rem;
			width: 1.5rem;
			color: white;
			opacity: 0.6;
			transition: opacity 200ms ease-in-out;
		}
		
		.pic {
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			background-size: cover;
			background-position: center;
			margin-right: 1rem;
			box-shadow:
				0 0 1rem 0 rgba(black, 0.2),
				0 1rem 1rem -0.5rem rgba(black, 0.3);
		}
		
		.name {
			flex-grow: 2;
			flex-basis: 10rem;
			font-size: 1.1rem;
      margin-bottom: 10px;
		}
		
		.score {
			margin-right: 1.5rem;
			
			&:after {
				margin-right: 1rem;
				content: 'points';
				opacity: 0.5;
			}
		}
		
		&:hover {
			transform: scale(1.05);
			
			.pos {
				opacity: 0.8;
			}
		}
	}
}

.leader{
  margin-top: 130px;
  margin-left: 465px;
  text-align:center;
  width: 600px;
}

.card {
  position: absolute;
  font-family: "Krub", sans-serif;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 1100px;
  width: 250px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background: #151515;
  overflow: hidden;
}
.card .ds-top {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  width: 300px;
  height: 80px;
  background: coral;
  animation: dsTop 1.5s;
}
.card .avatar-holder {
  position: absolute;
  margin: auto;
  top: 40px;
  right: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #151515, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000;
  background: white;
  overflow: hidden;
  animation: mvTop 1.5s;
}
.card .avatar-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .name {
  position: absolute;
  font-family: "Krub", sans-serif;
  margin: auto;
  top: -60px;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 40px;
  text-align: center;
  animation: fadeIn 2s ease-in;
}
.card .name a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}
.card .name a:hover {
  text-decoration: underline;
  color: coral;
}
.card .Points{
  color: coral;
}
.card .name h6 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  width: 40px;
}
.card .button {
  position: absolute;
  font-family: "Krub", sans-serif;
  margin: auto;
  padding: 8px;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 40px;
  text-align: center;
  animation: fadeIn 2s ease-in;
  outline: none;
}
.card .button a {
  padding: 5px 20px;
  border-radius: 10px;
  color: white;
  letter-spacing: 0.05em;
  text-decoration: none;
  font-size: 10px;
  transition: all 1s;
}
.card .button a:hover {
  color: white;
  background: coral;
}
.card .ds-info {
  position: absolute;
  font-family: "Krub", sans-serif;
  margin: auto;
  top: 120px;
  bottom: 0;
  right: 0;
  left: 0;
  width: inherit;
  height: 40px;
  display: flex;
}
.card .ds-info .pens,
.card .ds-info .projects,
.card .ds-info .posts {
  position: relative;
  font-family: "Krub", sans-serif;
  left: -300px;
  width: calc(250px / 3);
  text-align: center;
  color: white;
  animation: fadeInMove 2s;
  animation-fill-mode: forwards;
}
.card .ds-info .pens h6,
.card .ds-info .projects h6,
.card .ds-info .posts h6 {
  text-transform: uppercase;
  font-family: "Krub", sans-serif;
  color: coral;
}
.card .ds-info .pens p,
.card .ds-info .projects p,
.card .ds-info .posts p {
  font-size: 12px;
  font-family: "Krub", sans-serif;
}
.card .ds-info .ds:nth-of-type(2) {
  animation-delay: 0.5s;
}
.card .ds-info .ds:nth-of-type(1) {
  animation-delay: 1s;
}
.card .ds-skill {
  position: absolute;
  font-family: "Krub", sans-serif;
  margin: auto;
  bottom: 10px;
  right: 0;
  left: 0;
  width: 200px;
  height: 100px;
  animation: mvBottom 1.5s;
}
.card .ds-skill h6 {
  margin-bottom: 5px;
  font-family: "Krub", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: coral;
}
.card .ds-skill .skill h6 {
  font-weight: 400;
  font-family: "Krub", sans-serif;
  font-size: 8px;
  letter-spacing: 0.05em;
  margin: 4px 0;
  color: white;
}
.card .ds-skill .skill .fab {
  color: coral;
  font-size: 14px;
}
.card .ds-skill .skill .bar {
  height: 5px;
  background: coral;
  text-align: right;
}
.card .ds-skill .skill .bar p {
  color: white;
  font-size: 8px;
  padding-top: 5px;
  animation: fadeIn 5s;
}
.card .ds-skill .skill .bar:hover {
  background: white;
}
.card .ds-skill .skill .bar-chest {
  width: 75%;
  animation: htmlSkill 1s;
  animation-delay: 0.4s;
}
.card .ds-skill .skill .bar-back {
  width: 80%;
  animation: cssSkill 2s;
  animation-delay: 0.4s;
}
.card .ds-skill .skill .bar-leg {
  width: 85%;
  animation: jsSkill 3s;
  animation-delay: 0.4s;
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes htmlSkill {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
@keyframes cssSkill {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes jsSkill {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
@keyframes mvBottom {
  0% {
    bottom: -150px;
  }
  100% {
    bottom: 10px;
  }
}
@keyframes mvTop {
  0% {
    top: -150px;
  }
  100% {
    top: 40px;
  }
}
@keyframes dsTop {
  0% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}
.following {
  color: white;
  background: coral;
}