*{
  margin: 0;
}

html{
  background-color: #322f2f;
}

/* .logoa{
  width: 120px;
  height: 110px;
} */

.logoa img{
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
.menu{
  display:flex;
  
  list-style-type: none;
  color:coral;
  margin-top: 0px;
  position: static;
  
}

.wide{
  background-color: #ffffff;
  width: 465px;
	height: 64px;
	border-radius: 10px;
}

#makan{
  font-size: 22px;
	margin-bottom: 20px;
  border-radius: 10px;
  color: white;
}

.pass{
	background-color: #ffffff;
  width: 465px;
	height: 64px;
	border-radius: 10px;
  border: 1px solid black;
}

label input[type="text"]::placeholder{
  font-size: 18px;
  color: gray;
}
.imageKucing img{
	margin-left:60px;
  margin-top: 50px;
  height:25em;
  width:45em;
  background-size:auto;
  display:block;
  border-radius: 10px;
}

.login{
  width: 535px;
	height: 375px;
  margin-left: 90px;
  padding: 20px;
  border: 1px solid coral;
  border-radius: 5px;
  text-align: center;
  /* border-radius: 5px;
  border-width: 5px;
  weight:100px;
  padding:20px; */
}
#header {
  height: 100px;
  display: flex;
 background-color:#1a1919;
  /* margin: -8px;
  height:110px; */
  position:sticky;
	top: 0;
  z-index: 100;
}
#content{
  display:flex;
}
.forgot{
  font-size: 18x;
  color:white;
}
.nav{
  justify-content: center;
  margin-left: 975px;
  display: flex;
  flex-direction: column;
}
.butlog{
	font-size: 32px;
	margin-top: 50px;
  background-color: coral;
   width: 465px;
	height: 64px;
  border-color: coral;
  color:#121212000;
  border-radius:5px;
}

.butlog:hover{
	font-size: 32px;
	margin-top: 50px;
  background-color:black;
   width: 465px;
	height: 64px;
  border-color: black;
  color:lightcoral;
  border-radius:5px;
}

#about{
  font-size: 18px;
}
#conta{
  padding-left: 23px;
  font-size: 18px; 
}

#Ter{
  padding-left: 23px;
  font-size: 18px;
}

#log{
  margin-top:20px;
  margin-left:140px;
}

#log a{
  
  margin-right: 40px;
  color: coral;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: black;
	border: 1px solid coral;
  border-radius: 15px;
  text-decoration: none;
}

#sig{
   width: 535px;
  font-size: 18px;
	height: 20px;
  margin-left: 90px;
  padding: 20px;
  border: 1px solid coral;
  border-radius: 5px;
  text-align: center;
  color:white
}

/* #space{
  padding-left:45px;
} */

#log a:hover{
  background-color: lightcoral;
  color: black;
}

a{
  text-decoration: none;
  color: inherit;
}

#sig a{
  text-decoration: underline;
}

  /* .imageKucing {
    position: relative;
    display: inline-block;
  }

  .imageKucing img {
    display: block;
    transition: transform 0.3s;
    animation: zoomAnimation 3s infinite alternate;
  }

  @keyframes zoomAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.15);
    }
  } */
#content1{
  display:flex;
  flex-direction: column;
}
/* #pilihan ul li{
  text-align: left;
}
#pilihan ul{
  list-style-position:inside;
  justify-content: left;
}
#pilihan ul li a{
  padding:0%;
  margin-left: 0px;
}
#pilihan ul li a svg{
  width: 136px;
  height: 143px;
  border: 3px solid white;
} */

.pilihan{
	width: 136px;
  height: 143px;
	border: 3px solid white;
}
#profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
}
#upload-btn {
  display: none;
}
table {
  width: 1000px;
  margin-left:50px;
  margin-top:50px;
  margin-right:50px;
  border-collapse: collapse;
}
.propil{
  margin-top:50px;
  justify-content: right;
}
/* table thead tr th{
  font-size: 50px;
} */
th, td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 20px;
}
    
th {
  background-color: #f2f2f2;
  font-size: 16px;
}

td {
  background-color: #f2f2f2;
  font-size: 14px;
}
    
td:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
    
.selected-day {
  background-color: #ff0000;
  color: #fff;
}
.isi{
  display:flex;
}

.main-menu{
  position: sticky;
}